In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv(r'data\OTU_2d\train_cls.txt', sep )

In [6]:
df.head()

    658.JPG  5
0   384.JPG  3
1   367.JPG  3
2   730.JPG  1
3  1426.JPG  7
4  1194.JPG  6

In [8]:
file_path = r"data\OTU_2d\val_cls.txt"

# Read the file into a list of (filename, label) tuples
with open(file_path, "r") as f:
    data = [line.strip().split() for line in f]

# Convert to a more structured format
file_label_pairs = [(filename, int(label)) for filename, label in data]

# Example: print first 5 entries
for i in range(5):
    print(file_label_pairs[i])

('1269.JPG', 5)
('1458.JPG', 7)
('700.JPG', 6)
('264.JPG', 2)
('1017.JPG', 2)